:root {
  --th-dialog-width: 50%;
}
.th-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.th-dialog {
  width: var(--th-dialog-width, 50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  &-head {
    padding: 20px;
    .th-dialog-close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }
  &-content {
    padding: 20px 30px;
  }
  &-footer {
    padding: 10px 20px 20px 20px;
  }
}
.th-overlay-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 999;
  background-color: #00000080;
}